<template>
    <div class="main-container">
        <img @click="downloadFile(file.name)" class="file-type-image clickable" :src="imageSrc">
        <div>
            <p class="clickable" @click="downloadFile(file.name)">{{ file.name }} ({{ sizeInMb }}MB)</p>
        </div>
    </div>
</template>


<script>
    import bucketService from '../../services/bucket-service.js';

    export default {
        computed: {
            fileExtension() {
                let indexOfLastDot = this.file.name.lastIndexOf('.');
                return this.file.name.substring(indexOfLastDot + 1);
            },
            imageSrc() {
                if(this.fileExtension == 'zip') {
                    return 'https://i.imgur.com/nbj2sYa.jpg';
                }
                return 'https://i.imgur.com/o3V783L.jpg';
            },
            sizeInMb() {
                return (this.file.size / 1024 / 1024).toFixed(1);
            }
        },
        props: [
            'file',
            'bucketId'
        ],
        data() {
            return {

            }
        },
        mounted: function() {
            console.log(this.file)
        },
        methods: {
            downloadFile(fileName) {
                bucketService.downloadFile(this.bucketId, fileName)
                    .catch(error => {
                        this.$toaster.success(error);
                    });
            }
        }
    }   
</script>

<style scoped>
    .main-container {
        display: flex;
        height: 100px;
        align-items: center;
    }

    .file-type-image {
        width: 70px;
        max-height: 70px;
        margin-right: 20px;
    }

    .clickable:hover {
        cursor: pointer;
    }
</style>

