<template>
    <div>    
        <h1 class="title">Lambdas</h1>
        <router-link to="/create_lambda" class="add-lambda-button button" tag="button">+</router-link>        
        <hr>
        <div v-if="!isLoaded">
            <spinner></spinner>
        </div>
        <div v-else>
            <p v-if="lambdas.length == 0">You don't have any lambda functions.</p>    
            <lambda-preview v-else class="preview" v-bind:key="lambda.Id" v-for="lambda in lambdas" :lambda="lambda"></lambda-preview>
        </div>
    </div>
</template>

<script>
    import lambdaService from '../../services/lambda-service';
    import LambdaPreview from './LambdaPreview.vue';
    import Spinner from '../util/Spinner.vue';

    export default {
        components: {
            'lambda-preview': LambdaPreview,
            'spinner': Spinner
        },
        data() {
            return {
                lambdas: [],
                isLoaded: false
            }
        },
        mounted: function() {
            lambdaService.getAll()
                .then(response => {
                    this.lambdas = response;
                    this.isLoaded = true;
                })
                .catch(error => {
                    this.$toaster.error(error);
                    this.isLoaded = true;
                });
        }
    }
</script>

<style scoped>
    h1 {
        margin-right: 30px;
        display: inline-block;
    }
    
    .add-lambda-button {
        width: 60px
    }
</style>

