<template>
    <div class="main-container">
        <router-link :to="'/lambda/' + lambda.id"><h2 class="title is-4">{{ lambda.lambdaName }}</h2></router-link>
        <p>Technology: {{ technologyPretty }}</p>
    </div>
</template>

<script>
    import technologyNamePretty from '../mixins/technology-name-pretty.js';

    export default {
        mixins: [ technologyNamePretty ],
        props: ['lambda'],
        data() {
            return {
            }
        }
    }
</script>

<style scoped>
    .main-container {
        margin: 30px;
    }
</style>


