<template>
    <div>
        <h3 v-if="!editMode" class="title">Create lambda</h3>
        <h3 v-else class="title">Edit lambda</h3>
        <div v-bind:class="{ hidden: !isLoading }">
            <spinner></spinner>
        </div>
        <div v-bind:class="{ hidden: isLoading }">
            <table v-bind:class="{ hidden: page != 1 }">
                <tr>
                    <td>Name:</td>
                    <td><input v-bind:disabled="editMode" type="text" class="input" v-model="lambda.lambdaName"></td>
                </tr>
                <tr>
                    <td>Language:</td>
                    <td>
                        <select v-bind:disabled="editMode" class="select" v-model="lambda.technology">
                            <option value="csharp">C#</option>
                            <option value="python">Python</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Lambda file:</td>
                    <td>
                        <file-upload ref="fileUpload" autoupload="false"></file-upload>
                    </td>
                </tr>
                <tr>
                    <td><input type="button" class="button is-info" value="Next" @click="nextPage"></td>
                </tr>
            </table>
            <div v-bind:class="{ hidden: page != 2 }">
                <h3 class="subtitle">Trigger</h3>
                <table>
                    <tr>
                        <td>
                            Type:
                        </td>
                        <td>
                            <select v-bind:disabled="editMode" class="select" v-model="triggerType" @change="handleTriggerTypeChange">
                                <option value="http">HTTP</option>
                                <option value="bucketUpload">Bucket upload</option>
                            </select>
                        </td>
                    </tr>
                    <tr v-bind:class="{ hidden: triggerType != 'http' }">
                        <td>
                            Request type:
                        </td>
                        <td>
                            <select v-bind:disabled="editMode" class="select" v-model="requestType">
                                <option value="get">GET</option>
                                <option value="post">POST</option>
                            </select>
                        </td>
                    </tr>
                    <tr v-bind:class="{ hidden: triggerType != 'bucketUpload' }">
                        <td>
                            Bucket:
                        </td>
                        <td>
                            <select v-bind:disabled="editMode" class="select" v-model="selectedBucketName">
                                <option v-bind:key="bucket.bucketId" :value="bucket.name" v-for="bucket in buckets">{{ bucket.name }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="button" class="button is-info" value="Back" @click="previousPage"></td>
                        <td><input type="button" class="button is-info" value="Finish" @click="handleCreateLambda"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
</template>

<script>
    import FileUpload from '../upload/Drag.vue';
    import { Lambda } from '../../models/lambda.js';
    import lambdaService from '../../services/lambda-service.js';
    import bucketSesrvice from '../../services/bucket-service.js';
    import Spinner from '../util/Spinner.vue';
    import { Bucket } from '../../models/bucket';
    
    export default {
        components: {
            'file-upload': FileUpload,
            'spinner': Spinner
        },
        data() {
            return {
                lambda: new Lambda(),
                isLoading: false,
                page: 1,
                triggerType: 'http',
                requestType: 'get',
                buckets: [],
                gotBuckets: false,
                selectedBucketName: '',
                editMode: false
            }
        },
        methods: {
            handleCreateLambda() {
                if (!this.lambda.lambdaName) {
                    this.$toaster.error('You must enter name!');
                    return;
                }
                if (this.$refs.fileUpload.files.length == 0) {
                    this.$toaster.error('You must select file!');
                    return;
                }
                if (this.editMode) {
                    this.isLoading = true;
                    lambdaService.edit(this.lambda, this.$refs.fileUpload.files[0].file)
                        .then(response => {
                            this.$toaster.success('Successfully edited lambda.');
                            this.$router.push('/lambda_homepage');
                        })
                        .catch(error => {
                            this.$toaster.error('Error while editing lambda.');
                            this.isLoading = false;
                        });
                    return;
                }
                if (this.triggerType == 'http') {
                    this.createLambda(this.lambda, this.$refs.fileUpload.files[0].file, this.triggerType, this.requestType);
                } else if (this.triggerType == 'bucketUpload') {
                    this.createLambda(this.lambda, this.$refs.fileUpload.files[0].file, this.triggerType, this.selectedBucketName);
                }
                
            },

            nextPage() {
                this.page = 2;
                console.log('page', this.page)
            },

            previousPage() {
                this.page = 1;
                console.log('page', this.page)
            },

            handleTriggerTypeChange() {
                if (this.triggerType == 'bucketUpload') {
                    if(!this.gotBuckets) {
                        this.isLoading = true;
                        bucketSesrvice.getAll()
                            .then(response => {
                                this.buckets = response;
                                this.gotBuckets = true;
                                this.isLoading = false;
                                if(this.buckets.length > 0) {   // set select input to first bucket
                                    this.selectedBucketName = this.buckets[0].name;
                                }
                            })
                            .catch(error => {
                                this.isLoading = false;
                                this.$toaster.error('Error while getting buckets.');
                            });
                    }
                }
            },

            createLambda(lambda, file, triggerType, trigger) {
                this.isLoading = true;
                lambdaService.create(lambda, file, triggerType, trigger)
                    .then(response => {
                        this.$toaster.success('Lambda successfully created.');
                        this.$router.push('/lambda_homepage');
                    })
                    .catch(error => {
                        this.isLoading = false;
                        this.$toaster.error(error);
                    });
            }
        },
        mounted: function() {
            let lambdaId = this.$route.params.id;
            if(lambdaId) {
                this.editMode = true;
                this.isLoading = true;
                lambdaService.get(lambdaId)
                    .then(response => {
                        this.lambda = response;
                        this.triggerType = response.type;
                        this.requestType = response.trigger;
                        this.selectedBucketName = response.trigger;
                        let helperBucket = new Bucket();    // creating it because of bucket select's v-model
                        helperBucket.name = response.trigger;
                        this.buckets.push(helperBucket);
                        this.isLoading = false;
                    })
                    .catch(error => {
                        this.$toaster.error(error);
                    });
            }
        }
    }
</script>

<style scoped>
    td {
        padding: 20px;
        width: 200px;
    }

    .hidden {
        display: none;
    }
</style>

