<template>
    <div>
        <div v-if="!isLoaded">
            <spinner></spinner>
        </div>
        <div v-else>
            <h2 class="title">{{ lambda.lambdaName }}</h2>
            <router-link :to="'/edit_lambda/' + lambda.id" class="button" tag="button">Edit</router-link>
            <input type="button" class="button is-danger" @click="deleteLambda" value="Delete">
            <div class="page-layout">
                <table>
                    <tr>
                        <td>Trigger type:</td>
                        <td>{{ lambda.type }}</td>
                    </tr>
                    <tr v-if="lambda.type == 'http'">
                        <td>Trigger link:</td>
                        <td><a target="_blank" rel="noopener noreferrer" :href="lambda.imageUrl">{{ lambda.imageUrl }}</a></td>
                    </tr>
                    <tr v-else>
                        <td>Connected bucket name:</td>
                        <td>{{ lambda.trigger }}</td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <td>Technology: </td>
                        <td>{{ technologyPretty }}</td>
                    </tr>
                    <tr>
                        <td>Total times run: </td>
                        <td>{{ lambda.executed }}</td>
                    </tr>
                    <tr>
                        <td>Total running time: </td>
                        <td>{{ lambda.total / 1000 }} s</td>
                    </tr>
                    <tr>
                        <td>Average running time: </td>
                        <td>{{ lambda.total }} ms</td>
                    </tr>   
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import Spinner from '../util/Spinner.vue';
    import lambdaService from '../../services/lambda-service.js';
    import technologyNamePretty from '../mixins/technology-name-pretty.js';

    export default {
        mixins: [ technologyNamePretty ],
        components: {
            'spinner': Spinner
        },
        data() {
            return {
                isLoaded: false,
                lambda: {}
            }
        },
        mounted: function() {
            lambdaService.get(this.$route.params.id)
                .then(response => {
                    this.lambda = response;
                    this.lambda.imageUrl = 'http://localhost:55001/api/lambda/' + this.lambda.imageId + '/run';
                    this.isLoaded = true;   
                })
                .catch(error => {
                    this.$toaster.error(error);
                })
        },
        methods: {
            deleteLambda() {
                let confirmed = confirm("Are you sure you want to delete lambda?");
                if (!confirmed) {
                    return;
                }
                this.isLoaded = false;
                lambdaService.delete(this.lambda.id)
                    .then(response => {
                        this.$toaster.success('Lambda successfully deleted.');
                        this.$router.push('/lambda_homepage');
                    }).catch(error => {
                        this.$toaster.error(error);
                        this.isLoaded = true;
                    });
            }
        }
    }
</script>

<style scoped>
    .page-layout {
        padding: 40px;
    }

    td {
        padding: 20px;
    }

    .button {
        width: 70px;
        margin-right: 20px;
    }

    h2 {
        display: inline;
        margin-right: 40px;
    }
</style>

