<template>
  <div class="example-drag">
    <div class="upload">
        <ul v-if="files.length">
            <li v-for="file in files" :key="file.id">
            <span>{{file.name}}</span> -
            <span>{{file.size}} bytes</span>
            <span v-if="file.error">{{file.error}}</span>
            <span v-else-if="file.success">success</span>
            <span v-else-if="file.active">active</span>
            <span v-else-if="file.active">active</span>
            <span v-else></span>
            </li>
        </ul>

        <div style="border: 1px solid black; width: 100%; height:400px" v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
            <h3>Drop files to upload</h3>
        </div>

        <div class="example-btn">
            <file-upload
                class="button is-info"
                :post-action="endpoint + 'bucket/files'"
                :headers="{ 'Authorization': 'Bearer ' + token }"
                :multiple="false"
                :drop="true"
                :drop-directory="true"
                v-model="files"
                @input="onChange"
                :allowed="allowedFileTypes"
                ref="upload">
                <i class="fa fa-plus"></i>
                Upload files
            </file-upload>
        </div>
    </div>

  </div>
</template>
<style>
    .example-drag {
        display: inline;
    }

    .example-drag label.btn {
        margin-bottom: 0;
        margin-right: 1rem;
    }
    .example-drag .drop-active {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: fixed;
        z-index: 9999;
        opacity: .6;
        text-align: center;
        background: #000;
    }
    .example-drag .drop-active h3 {
        margin: -.5em 0 0;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 40px;
        color: #fff;
        padding: 0;
    }
</style>

<script>
    import FileUpload from 'vue-upload-component';
    import { getApiEndpoint } from '../../constants/index.js';

    export default {
        computed: {
            endpoint() {
                return getApiEndpoint();
            }
        },
        props: [
            'autoupload',
            'allowedFileTypes'
        ],
        components: {
            FileUpload
        },
        data() {
            return {
                files: [],
                token: ''
            }
        },
        methods: {
            onChange() {
                if(this.autoupload == "true") {
                    this.$refs.upload.active = true;
                }
                this.$emit('files-added')
            },
            startUpload() {
                if(this.files.length > 0) {
                    this.$refs.upload.active = true;
                }
            },
            reset() {
                this.files = []
            }
        },
        mounted: function() {
            this.$watch(
                () => {
                    return this.$refs.upload.active
                },
                (oldVal, newVal) => {
                    if(oldVal == false && newVal == true) {
                        if(this.files.filter(file => file.error).length == 0) {
                            this.$emit('upload-completed', this.files);
                        }
                        else {
                            console.log("Error while uploading...")
                        }
                    } 
                }
            )
            console.log(this.$refs)
            this.token = JSON.parse(localStorage.getItem('token')).value;
        }
    }
</script>