<template>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link class="navbar-item" to="/">Home</router-link>
            <router-link v-if="isLogged" class="navbar-item" to="/lambda_homepage">Lambdas</router-link>
            <router-link v-if="!isLogged" class="navbar-item" to="/login">Login</router-link>
            <router-link v-if="!isLogged" class="navbar-item" to="/register">Register</router-link>
            <a v-if="isLogged" class="navbar-item" @click="this.logout">Logout</a>
        </div>
    </nav>
</template>

<script>
    import authService from '../../services/auth-service.js';
    import i18n from '../../localization.js';

    export default {
        name: 'navbar',
        data() {
            return {
                
            }
        },
        computed: {
            isLogged: function() {
                return authService.isAuthenticated();
            }
        },
        methods: {
            logout: function() {
                authService.logout();
            },
            changeLanguage: function() {
                i18n.locale = 'sr';
            }
        }
    }
</script>