<template>
    <div>
        <div v-if="!isLogged">
            <h3>{{ $t("message.hello") }}</h3>
        </div>
        
        <div v-else>
            <h1 class="title">Buckets</h1>
            <router-link to="/create_bucket" class="add-bucket-button button" tag="button">+</router-link>   
            <div v-if="!isLoaded">
                <spinner></spinner>
            </div>
            <div v-else>    
                <hr>
                <p v-if="buckets.length == 0">You don't have any buckets.</p>
                <bucket-preview v-else class="preview" v-bind:key="bucket.bucketId" v-for="bucket in buckets" :bucket="bucket"></bucket-preview>
            </div>
        </div>
    </div>
</template>


<script>
    import authService from '../services/auth-service.js';
    import testBucketService from '../services/test-bucket-service.js';
    import bucketService from '../services/bucket-service.js';
    import BucketPreview from './bucket/BucketPreview.vue';
    import Spinner from './util/Spinner.vue';

    export default {
        components: {
            'bucket-preview': BucketPreview,
            'spinner': Spinner
        },
        data() {
            return {
                buckets: [],
                isLogged: false,
                isLoaded: false
            };
        },
        mounted: function() {
            this.isLogged = authService.isAuthenticated();
            
            if(this.isLogged) {
                bucketService.getAll()
                    .then(response => {
                        this.buckets = response;
                        this.isLoaded = true;
                    })
                    .catch(error => {
                        this.$toaster.error(error);
                    });
            }
        }
    }
</script>

<style scoped>
    .preview {
        width: 30%
    }

    h1 {
        margin-right: 30px;
        display: inline-block;
    }

    .add-bucket-button {
        width: 60px
    }
</style>

