<template>
  <div id="app">
    <navbar></navbar>
    <router-view class="router-view"></router-view>
  </div>
</template>

<script>
	import router from './router.js';
	import Navbar from './components/navbar/Navbar.vue';
	import i18n from './localization.js';

	export default {
		name: 'app',
		router,
		i18n,
		components: {
			'navbar': Navbar
		},
		data () {
			return {

			}
		}
	}
</script>

<style>
    #app {
		margin: 10px;
	}

    .router-view {
    	margin: 30px;
    }
</style>
