<template>
    <div>
        <div v-if="!isBucketLoaded">
            <spinner></spinner>
        </div>
        <div v-else>
            <h1 class="title is-3">{{ bucket.name }}</h1>
            <router-link :to="'/edit_bucket/' + bucket.bucketId" class="button" tag="button">Edit</router-link>
            <input type="button" class="button is-danger" @click="deleteBucket" value="Delete">
            <div v-if="!areFilesLoaded">
                <spinner></spinner>
            </div>
            <div v-else class="page-layout">   
                <div class="file-section">
                    <div class="file-container">
                    <h2 class="title is-4">Files</h2>
                    <file-upload ref="fileUpload" @files-added="onFilesAdded"></file-upload>
                    </div>
                    <p v-if="files.length == 0">You haven't uploaded any files.</p>
                    <file-preview v-else :bucket-id="bucket.bucketId" v-bind:key="index" v-for="(file, index) in files" :file="file"></file-preview>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import bucketService from '../../services/bucket-service.js';
    import DragUpload from '../upload/Drag.vue';
    import FilePreview from '../file/FilePreview.vue';
    import Spinner from '../util/Spinner.vue';

    export default {
        components: {
            'file-upload': DragUpload,
            'file-preview': FilePreview,
            'spinner': Spinner
        },
        data() {
            return {
                files: [],
                bucket: {},
                isBucketLoaded: false,
                areFilesLoaded: false
            }
        },
        mounted: function() {
            bucketService.get(this.$route.params.id)
                .then(response => {
                    this.bucket = response;
                    this.isBucketLoaded = true;
                })
                .then(() => {
                    bucketService.getFiles(this.bucket.bucketId)
                        .then(response => {
                            this.files = response;
                            this.areFilesLoaded = true;
                        })
                        .catch(error => {
                            this.$toaster.error(error);
                        });
                })
                .catch(error => {
                    this.$toaster.error(error);
                });
            
                
        },
        methods: {
            onFilesAdded() {
                this.uploadFile();
            },
            uploadFile() {
                bucketService.uploadFile(this.bucket, this.$refs.fileUpload.files[0].file)
                    .then(response => {
                        this.$toaster.success('Successfully uploaded file!');
                        this.files.push(this.$refs.fileUpload.files[0].file);
                        this.$refs.fileUpload.reset();
                    })
                    .catch(error => {
                        this.$toaster.error(error);
                        this.$refs.fileUpload.reset();
                    });
            },
            deleteBucket() {
                let confirmed = confirm("Are you sure you want to delete bucket?");
                if (!confirmed) {
                    return;
                }
                this.isBucketLoaded = false;
                bucketService.delete(this.bucket.bucketId)
                    .then(response => {
                        this.$toaster.success('Successfully deleted bucket.');
                        this.$router.push('/');
                    }).catch(error => {
                        this.$toaster.error(error);
                        this.isBucketLoaded = true;
                    });
            }
        }
        
    }
</script>

<style scoped>
    .page-layout {
        padding: 40px;
    }

    .file-section {
        margin-top: 30px;
    }

    h1, h2 {
        display: inline;
        margin-right: 40px;
    }

    .file-container {
        display: flex;
    }

    .button {
        width: 70px;
        margin-right: 20px;
    }
</style>
