<template>
    <div class="main-container">
        <router-link :to="'/bucket/' + bucket.bucketId"><h2 class="title is-4">{{ bucket.name }}</h2></router-link>
        <progress-bar :val="spaceUsedPercentage" :bar-color="barColor" size="tiny" :text="spaceUsedPercentageText" text-position="inside"></progress-bar>
        <p>{{ (bucket.spaceLeft).toFixed(2) }}GB of {{ (bucket.size).toFixed(2) }}GB free</p>
    </div>
</template>

<script>
    import ProgressBar from 'vue-simple-progress';
    export default {
        computed: {
            spaceUsed() {
                return this.bucket.size - this.bucket.spaceLeft;
            },
            spaceUsedPercentage() {
                return this.spaceUsed / this.bucket.size * 100;
            },
            spaceUsedPercentageText() {
                return parseInt(this.spaceUsedPercentage, 10) + '%';
            },
            barColor() {
                return this.spaceUsedPercentage > 85 ? "red" : "#2196f3"
            }
        },
        components: { 'progress-bar': ProgressBar },
        props: ['bucket'],
        data() {
            return {
            }
        }
    }
</script>

<style scoped>
    .main-container {
        margin: 30px;
    }
</style>


