<template>
    <div>
        <h3 v-if="!editMode" class="title">Create bucket</h3>
        <h3 v-else class="title">Edit bucket</h3>
        <div v-if="isLoading">
            <spinner></spinner>
        </div>
        <table v-else>
            <tr>
                <td>Name:</td>
                <td><input type="text" class="input" v-model="bucket.name"></td>
            </tr>
            <tr>
                <td>Size:</td>
                <td>
                    <select class="select" v-model="bucket.size">
                        <option value="1">1GB</option>
                        <option value="2">2GB</option>
                        <option value="5">5GB</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Privacy:</td>
                <td>
                    <select class="select" v-model="bucket.publicFlag">
                        <option :value="true">Public</option>
                        <option :value="false">Private</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td v-if="!editMode"><input type="button" class="button is-info" value="Create bucket" @click="createBucket"></td>
                <td v-else><input type="button" class="button is-info" value="Edit bucket" @click="editBucket"></td>
            </tr>
        </table>
    </div>    
</template>

<script>
    import bucketService from '../../services/bucket-service.js';
    import { Bucket } from '../../models/bucket.js';
    import Spinner from '../util/Spinner.vue';

    export default {
        components: {
            'spinner': Spinner
        },
        data() {
            return {
                bucket: new Bucket(),
                isLoading: false,
                editMode: false
            }
        },
        methods: {
            createBucket() {
                if(!this.bucket.name) {
                    this.$toaster.error('You must enter bucket name!');
                    return;
                }
                this.isLoading = true;
                bucketService.create(this.bucket)
                    .then(response => {
                        this.$toaster.success('Bucket successfully created.');
                        this.$router.push('/');
                    })
                    .catch(error => {
                        this.$toaster.error(error);
                        this.isLoading = false;
                    });
            },

            editBucket() {
                if(!this.bucket.name) {
                    this.$toaster.error('You must enter bucket name!');
                    return;
                }
                this.isLoading = true;
                bucketService.edit(this.bucket)
                    .then(response => {
                        this.$toaster.success('Bucket successfully edited!');
                        this.$router.push('/');
                    })
                    .catch(error => {
                        this.$toaster.error(error);
                        this.isLoading = false;
                    });
            }
        },

        mounted: function() {
            let bucketId = this.$route.params.id;
            if(bucketId) {
                this.editMode = true;
                this.isLoading = true;
                bucketService.get(bucketId)
                    .then(response => {
                        this.bucket = response;
                        this.isLoading = false;
                    })
                    .catch(error => {
                       this.$toaster.error(error);
                    });
            }
        }
    }
</script>

<style scoped>
    td {
        padding: 20px
    }
</style>
