<template>
    <div>
        <spinner class="spinner" v-if="isLoading"></spinner>
        <form v-else>
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="text" v-model="user.username" placeholder="Username...">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" v-model="user.password" placeholder="Password...">
                </div>
            </div>

            <input type="button" class="button is-info" @click="submit()" value="Login">
        </form>
    </div>
</template>

<script>
    import authService from '../../services/auth-service.js';
    import { User } from '../../models/user.js';
    import Spinner from '../util/Spinner.vue';

    export default {
        components: {
            'spinner': Spinner
        },
        data() {
            return {
                user: new User(),
                isLoading: false
            }
        },
        methods: {
            submit() {
                if(!this.user.username) {
                    this.$toaster.error("You must enter username!");
                    return;
                }
                if(!this.user.password) {
                    this.$toaster.error("You must enter password!");
                    return;
                }
                this.isLoading = true;
                authService.login(this.user)
                    .then(response => {
                        this.$router.push('/');
                        window.location.reload();
                    })
                    .catch(error => {
                        this.$toaster.error(error);
                        this.isLoading = false;
                    })
            }
        }
    }
</script>


<style scoped>
    .spinner {
        margin-top: 20px;
    }
</style>

